.faq{
    h1{
        font-size: 40px;
        @include media-lg{
            font-size: 72px;
        }
    }
}

.question-box{
    background-color: #fff;
    padding: 5px 0px;
    border-radius: 10px;
    min-height: 445px;
    margin: 20px auto;
    box-shadow:2px 6px 10px #00000029; 
    .top-box{
        padding: 12px 25px;
        h4{
            font-size: 20px;
            
        }
        p{
            font-size: 16px;
        }
    }
  
}



.questions{
    border-top: 1px solid #00000029;
    padding: 25px 40px;
    list-style-type: disc;
    li{
        margin-top: 20px;
        i{
            float: right;
        }
    }

}