
 .step{
    width: 100%;
    border: 1px solid $third-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
    justify-content: center;
    min-height: 420px;
    max-height: 100%;
    margin: 20px auto;
    @include media-lg{
      padding: 10px 20px;
      align-items: flex-start;
      width: 100%;
    }
    @include media-xl{
      padding: 10px 48px;
      align-items: flex-start;
      width: 87%;
    }
    @include media-md{
      
    }
    &__img{
      width: 107px;
      height: 107px;
      background-color: #DAE6F0 ;
      border-radius: 50%;
      line-height: 107px;
      text-align: center;
    }
    h5{
      margin: 16px 0;
      color: $third-color;
      font-size: 24px;
      font-weight: normal;
    }
    p{
      color:$fourth-color;
    }
  
  }
  .first{
    &::before{
      content: '';
      width: 122px;
      height: 3px;
      background-color: #99BAD6;
      position: absolute;
      left: -90px;
      top: 50%;
      display: none;
      @include media-lg{
        display: block;
        width: 105px;
      }
      @include media-xl{
        display: block;
      }
    }
  }
  .second{
    &::before{
      content: '';
      width: 60px;
      height: 3px;
      background-color: #99BAD6;
      position: absolute;
      left: -30px;
      top: 50%;
      display: none;
      @include media-lg{
        display: block;
        width: 30px;
        left: -15px;
      }
      @include media-xl{
        display: block;
      }
    }
    &::after{
      content: '';
      width: 60px;
      height: 3px;
      background-color: #99BAD6;
      position: absolute;
      right: -30px;
      top: 50%;
      display: none;
      @include media-lg{
        display: block;
        width: 30px;
        right: -15px;
      }
      @include media-xl{
        display: block;
      }
    }
  }
  .third{
    &::after{
      content: '';
      width: 122px;
      height: 3px;
      background-color: #99BAD6;
      position: absolute;
      right: -90px;
      top: 50%;
      display: none;
      @include media-lg{
        display: block;
        width: 105px;
      }
      @include media-xl{
        display: block;
      }
    }
  }
