@import 'config';
@import 'step';
@import 'dots';
@import 'home';
@import 'how_it_works';
@import 'investments';
@import 'about';
@import 'retirement';
@import 'property_detail';
@import 'blog';
@import 'single-blog';
@import 'contact-us';
@import 'submit-property';
@import 'menu';
@import 'pagination';
@import 'investment_card';
@import 'blog_card';
@import 'question-box';
@import 'faq-question';
@import 'risk';
@import 'classes';
@import 'forms';
@import 'responsive';


body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}
h4{
  @include media-xl{
    font-size: 3rem;
  }
  @include media-lg{
    font-size: 3rem;
  }
  font-size: 1.5rem;
  font-weight: bolder;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
button:focus{
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #F37322;
  border-color: #F37322 ;
}
.text-primary{
  color: #F37322 !important;
}
.btn-third{
  color: #fff;
  background-color: $third-color;
  border-color: $third-color ;
} 
.btn-outline-primary{
  border-color: $primary-color;
  color: $primary-color;
} 

.btn-outline-primary:hover{
  color: #F37322;
  background-color: transparent;
  border-color: #F37322;
}
.btn-primary:hover{
  border-color: #F69659;
  color: #fff;
  background-color: #F69659;
}
.btn-third:hover{
  border-color: $third-color;
  color: #fff;
  background-color: transparent;
}

.text-secondary {
  color: $secondary-color;
}
.note-message {
  width: 100%;
  background-color: $primary-color;
  padding: 25px $padding-box-lg + 50px;
  display: flex;
  @include media-xs{
    padding: 20px 10px;
    align-items: center;
    flex-direction: column;
  }
  @include media-sm{
    padding: 0 55px;
  }
  @include media-md{
    padding: 0 55px;
    height: 150px;
    flex-direction: column;
    align-items: flex-start;

  }
  p{
    margin-bottom: 0;
    color: #f7e9bf;
    letter-spacing: -0.27px;
    text-align: center;
    font-size: 18px;
    @include media-xs{
      text-align: center;
    }
    @include media-md{
      font-size: 16px;
      text-align: left;
      padding: 13px 0;
      line-height: 1.7;
    }
   
    a{
      color: #f7e9bf;
      padding-right: $padding-box-lg - 90px;
      padding-left: 10px;
      text-decoration: underline;
    }
  }
  button{
    background-color: transparent;
    border: none;
    font-weight: bolder;
    color: #f7e9bf;
    font-size: 18px;
    @include media-md{
      display: block;
      margin-top: 10px;
    }
  }


}

header {
  position: static;
  z-index: 2;
  width: 100%;
}

main {
  position: relative;
  width: 100%;
  background-color: #fff;
  .bg-banner{
    width: 100%;
    height: 430px;
    @include media-md{
      height: 290px;
      top: -20px;
    }
    background-color: $secondary-color;
    padding: 0 $padding-box-lg;
    padding-top: 80px;
    position: absolute;
    top: -65px;
   
   
  }
 

  p{
    font-size: 20px;
    letter-spacing: .15px;
  }
}

footer {
 background-color: #F9F9F8;
 padding: 50px $padding-box-md; 
 
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 100%;
 @include media-xl{
  padding: 80px $padding-box-lg - 15px;
}

 
  ul{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    li{
      margin: 12px 0;
      a{
        color: #040404;
        text-transform: capitalize;
      }
      .link{
        color: #4295B7;
      }
      ul{
        flex-direction: row;
        li{
          margin: 0 5px;
          font-size: 2.2rem;
        }
      }
    }
  }
 
}